// utils styles
@import"./utils/vars";
@import"./utils/visually-hidden";
@import"./utils/placeholders";


// base styles
@import"./base/module";



// components styles
@import"./components/buttons";
@import"./components/contacts";
@import"./components/container";
@import"./components/logo";
@import"./components/networks";
@import"./components/overlay";
@import"./components/section-title";
@import"./components/section";
@import"./components/form";

// layout styles
@import"./layouts/benefits";
@import"./layouts/clients";
@import"./layouts/footer";
@import"./layouts/header";
@import"./layouts/hero";
@import"./layouts/job";
@import"./layouts/team";
@import"./layouts/portfolio";