
/* Сітка із застосуванням Flex-box */

.card-set {
    display: flex;
    flex-wrap: wrap;  
    margin: calc(-1 * var(--indent) / 2);

}

.card-set__item {
    margin: calc(var(--indent) / 2);
    flex-basis: calc((100% - (var(--indent))*var(--items)) / var(--items));
}